<html>

<head>
    <script src="vendor/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="vendor/semantic/dist/semantic.min.js" charset="utf-8"></script>
    <script src="vendor/vue/dist/vue.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="vendor/semantic/dist/semantic.min.css"></link>


</head>

<body>

    <div id="app">

        <div class="ui container">

            <div class="ui segment">
                <h1>Vue + semantic = {{message}}</h1>
                <input type="text" v-model="message"></input>
                <h2>This project is intended to be forked.</h2>
            </div>


        </div>

    </div>


    <script src="app.js" charset="utf-8"></script>

</body>

</html>
